<main>

    HI

    <div id="wrapper">
        <h1>Scraping the jouranl "Science"</h1>
        <h2><i>Your source for the latest science headlines.</i></h2>
        <div id="articles"></div>
        <div id="notes"></div>
    </div>



</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/js/index.js"></script>