<main>

    <nav class="navbar-material">
        <div class="container nav-wrapper">
            <div class="row">
                <div class="col s12">
                    <a href="/" class="brand-logo">
                        <i class="fas fa-atom"></i>
                        <span id="home-name">Science</span>
                    </a>

                    <a href="/" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="waves-effect waves-light btn" id="new-scrape">Scrape for Articles</a>
                        </li>
                        <li><a class="waves-effect waves-light btn" id="clear-articles">Clear Articles</a>
                        </li>
                        <li><a id="journal-link" href="https://www.sciencemag.org/">The Journal</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <ul class="sidenav right z-depth-0" id="mobile-demo">
        <li><a class="waves-effect waves-light btn" id="new-scrape">Scrape for Articles</a>
        </li>
        <li><a class="waves-effect waves-light btn" id="clear-articles">Clear Articles</a>
        </li>
        <li><a id="journal-link" href="https://www.sciencemag.org/">The Journal</a></li>
    </ul>

    <div class="container primary-container">
        <div class="row" id="title-row">
            <div class="col s12">
                <h1 id="the-title">Scraping <i>Science</i></h1>
            </div>
        </div>

        <div class="row" id="subtitle-row">
            <div class="col s12">
                <h2 class="center" id="the-subtitle">Cutting Edge Scientific News</h2>
            </div>
        </div>

        <div id="articles">
        </div>

        <div id="notes" class="modal">
        </div>


    </div>

</main>

<footer class="page-footer">
    <div class="container footer-container">
        © 2019 
        <a class="right route-link" href="/articles"> Articles Object</a>
        <a class="right route-link" id >&nbsp | &nbsp </a>
        <a class="right route-link" href="/notes">Notes Object </a>

    </div>
</footer>

<script src="/js/app.js"></script>