html,
#home-name,
.btn,
#journal-link,
.route-link {
    font-family: 'News Cycle', sans-serif;
}

main {
    background-image: url("../images/wet_glass.jpeg");
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: contain;

  }

  .primary-container {
      background-color: #00000090;
      color: yellow;
      /* margin-top: -15px; */
      
  }
  .card {
      color: black;
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #the-subtitle {
      text-align: center;
  }
 
  .card-content,
  .card-action {
      font-size: 150%;
  }

  .card-action {
      font-weight: bold;
  }

  .footer-container {
      font-size: 150%;
  }

  .route-link {
      color: white;
  }


 

